@font-face {
    font-family: one;
    src: url(./font/ERTHQAKE.TTF);
  }
@font-face {
    font-family: two;
    src: url(./font/FancyCardText.ttf);
  }
@font-face {
    font-family: three;
    src: url(./font/Montserrat-Bold.ttf);
  }
@font-face {
    font-family: four;
    src: url(./font/Montserrat-Regular.ttf);
  }
@font-face {
    font-family: five;
    src: url(./font/Rounded\ Elegance.ttf);
  }
@font-face {
    font-family: six;
    src: url(./font/StitchWarrior\ demo.ttf);
  }
@font-face {
    font-family: seven;
    src: url(./font/strassburg\ fraktur.ttf);
  }
@font-face {
    font-family: eight;
    src: url(./font/VCR_OSD_MONO.ttf);
  }

body {
    background-color: gray;
    overflow: hidden;
    margin: 2%;
    max-width: 4400px;
    margin: auto;
}

.logo {
    font-size: 256pt;
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
    height: 1700px;
}

.menu {
    font-family: six;
    font-size: 80pt;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding-left: 5%;
    padding-bottom: 10%;
    height: auto;
}

.menu div {
    padding-right: 5%;
}

.logo .zero {
    font-family: eight;
    font-size: 1024pt;
    margin-top: -274px;
    margin-left: -75px;
}

.logo .x {
    font-family: two;
    font-size: 1536pt;
    margin-top: -605px;
    margin-left: -75px;
}
.logo .theo {
    font-family: five;
    font-size: 256px;
    margin-top: 830px;
    margin-left: -75px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    .logo {
        height: auto;
    }

    .logo .zero {
        font-family: eight;
        font-size: 524pt;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .logo .x {
        font-family: two;
        font-size: 524pt;
        margin-top: 20px;
        margin-left: -35px;
    }
    
    .logo .theo {
        font-family: five;
        font-size: 80pt;
        margin-top: 595px;
        margin-left: 10px;
    }

    .menu {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}